<app-menu></app-menu>

<div class="card flex justify-content-center m-3">
    <p-button (click)="showDialogCreate()" label="Crear"/>
    <p-dialog header="{{titulo}}" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem', height: '25rem' }">
        <div class="flex align-items-center gap-3 mb-3">
            <label for="nombre" class="font-semibold w-6rem">Escuela:</label>
            <input pInputText [(ngModel)]="escuela.nombre" id="nombre" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
            <label for="facultad" class="font-semibold w-6rem">Facultad:</label>
            <p-dropdown
                [options]= "facultades"
                [(ngModel)]= "escuela.facultad"
                optionLabel= "nombre"
                placeholder= "Seleccione una Facultad" 
                class= "flex-auto">
            </p-dropdown>
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="{{opc}}" (click)="opcion()" />
        </div>
    </p-dialog>
</div>

<div class="mt-3" style="width: 100%; display: flex; justify-content: center;">    
    <div class="card" style="width: 50%;">
        <p-table [value]="escuelas" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Escuela</th>
                    <th>Facultad</th>
                    <th>Accion</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.nombre }}</td>
                    <td>{{ product.facultad?.nombre }}</td>
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded" (click)="showDialogEdit(product.id)"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="showDiaologDelete($event, product.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-toast />
<p-confirmDialog />
    